<%- include("../components/layout/header") %>

<style>
  a {
    text-decoration: none;
  }
</style>

<div class="container">
  <h1>Customers</h1>
  <hr />

  <div class="row">
    <div class="col-3 border p-3">
      <h5>Select Khatabook</h5>
      <hr />
      <ul class="list-group">
        <% for (let khatabook of locals.khatabooks) { %>
        <li class="list-group-item">
          <a href="?khatabook=<%= khatabook.id %>"><%= khatabook.title %></a>
        </li>
        <% } %>
      </ul>
    </div>
    <div class="col p-3">
      <h5>Customer List</h5>
      <hr />

      <% if(!locals.customers.length ) { %>
      <div class="alert alert-info">
        <h4>No Customers In Selected Khatabook</h4>
      </div>
      <% } else { %>

      <div>
        <table class="table">
          <thead>
            <tr>
              <th>Sno.</th>
              <th>Name</th>
              <th>Phone</th>
              <th>Created On</th>
            </tr>
          </thead>

          <tbody>
            <% for (let index in locals.customers) { %>

            <tr>
              <td><%= Number(index)+1 %></td>
              <td><%= customers[index].name %></td>
              <td><%= customers[index].phone %></td>
              <td><%= customers[index].createdAt.toDateString() %></td>
            </tr>

            <% } %>
          </tbody>
        </table>
      </div>

      <% } %>
    </div>
  </div>
</div>

<%- include("../components/layout/footer") %>
