<%- include("../components/layout/header") %>

<style>
  a {
    text-decoration: none;
  }
</style>

<div class="container">
  <h1>Customers</h1>
  <hr />

  <div class="row">
    <div class="col-3 border p-3">
      <%- include('../components/customers/select-khatabook') %>
    </div>
    <div class="col p-3">
      <h5>Customer List</h5>
      <hr />

      <% if(!locals.customers.length ) { %>
      <!-- No Customers start -->
      <%- include('../components/customers/no-customers') %>
      <!-- no customers end -->
      <% } else { %>
      <!-- customer table start -->
      <%- include('../components/customers/customer-table') %>
      <!-- customer table end -->
      <% } %>
    </div>
  </div>
</div>

<%- include("../components/layout/footer") %>
