<div class="container mt-4">
  <div class="alert alert-success border rounded">
    You are adding entry for <b><%= selectedCustomer.name%></b> in Khatabook
    <b><%= selectedKhatabook.title%></b>
  </div>

  <div class="mt-4 col-6 mx-auto">
    <div class="row">
      <div class="col d-grid">
        <button
          data-bs-toggle="modal"
          data-bs-target="#gave-modal"
          class="btn btn-danger"
        >
          You Gave ₹
        </button>
      </div>
      <div class="col d-grid">
        <button
          data-bs-toggle="modal"
          data-bs-target="#got-modal"
          class="btn btn-success"
        >
          You Got ₹
        </button>
      </div>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col text-center text-danger">
      <h4><%=locals.youWillGet %></h4>
      <p>You Will Get</p>
    </div>
    <div class="col text-center text-success">
      <h4><%=locals.youWillGive %></h4>
      <p>You Will Give</p>
    </div>
  </div>

  <hr />
  <div class=""><%- include('./entries-table') %></div>
</div>

<!-- gave modal -->
<%- include('./entry-modal', { type : 'gave' , modalId : "gave-modal" ,
modalTitle : `You Gave To ${selectedCustomer.name}` } ) %>
<!-- gave modal end -->

<!-- Got modal -->
<%- include('./entry-modal' , {type : 'got' , modalId : 'got-modal' , modalTitle
: `You Got From ${selectedCustomer.name}` }) %>
<!-- Got Modal End -->
